DB_USERNAME = username
DB_PASSWORD = password%40password
DB_NAME = DB name as per phpmyadmin
DB_HOST = for now it is localhost
# %40 in password is for @ since uri defines @ and if password contains it takes as a error
DB_URI = mysql+pymysql://${DB_USERNAME}:${DB_PASSWORD}@localhost/azentra_report_app
JWT_SECRET_KEY = SECRET JWT KEY